extends layout
block content
    link(href="/stylesheets/signin.css" rel="stylesheet")
    //script(src="/javascripts/grid.js")
    link(href="/stylesheets/bootstrap-table.css" rel="stylesheet")
    script(src="/javascripts/bootstrap-table.js")
    .container
        case pagetype
            when "login"
                form(class="form-signin" action="login" method="POST")
                    h2(class="form-signin-heading") Please sign in
                    input(type="text" name="username" class="form-control" value="" placeholder="Email address" required autofocus)
                    input(type="password" name="password" class="form-control" value="" placeholder="Password" required)
                    label(class="checkbox")
                        input(type="checkbox" value="remember-me")
                        p Remember me
                    button(class="btn btn-lg btn-primary btn-block",type="submit") Sign in
            when "normal"
                p #{data}
                div(id="custom-toolbar")
                table(data-toggle="table",id = "tb_filelist",data-url="/filelist?dir=/",data-show-refresh="true",data-show-columns="true",data-search="true",data-select-item-name="toolbar1")
                    thead
                        tr
                            th(data-field="state",data-checkbox="true")
                            th(data-field="server_filename",data-sortable="true")  Name
                            th(data-field="isdir",data-sortable="true") Type
                            th(data-field="size",data-sortable="true") Size
                            th(data-field="server_mtime",data-sortable="true") Date
                            th(data-field="path",data-sortable="true") Path
    script(type='text/javascript').
        $(document).ready(function() {
            $('#tb_filelist').bootstrapTable(

            ).on('dbl-click-row.bs.table', function (e, row, $element) {
                if(getFileInfo(row,"isdir")=="1"){
                    $('#tb_filelist').bootstrapTable('refresh', {
                        url:"/filelist?dir="+getFileInfo(row,"path")
                    });
                }
            });
        });
